$page-background-color: #F8F9FA;
$footer-background-color : #F5F5F5;
$primary-white : #FFFFFF;
$primary-black :#000000;
$primary-blue : #19A0DD ;
$primary-red : #E30000;
$secondary-black : #212121;
$heading-black :#202124;
$dark-blue-color : #004B80;
$blue-active-color : #40B4E5;
$icon-blue-color : #074B80;
$dark-cerulean : #004E7D;
$gray-44 : #707070;
$light-gray : #757575;
$dim-gray :#747474;
$whisper-gray : #EEEEEE;
$menu-close-border:#004b8028;
$nero :#151515;
$mask-background-color:rgba(0, 0, 0, 0.7);
$scroll-indicator-background-color: #CCCCCC;
