// iphone mobile viewport sizes
$min-width-iphone5s-SE: 320px;
$max-width-iphone5s-SE: 568px;
$min-width-iphone6-7-8:375px;
$max-width-iphone6-7-8:667px;
$min-width-iphone6pl-7pl-8pl:414px;
$max-width-iphone6pl-7pl-8pl:736px;
$min-width-iphoneXS: 375px;
$max-width-iphoneXS: 812px;
$min-width-iphone-11-XR-XSmax: 414px;
$max-width-iphone-11-XR-XSmax: 896px;


// ipad viewport sizes
$min-width-ipad: 768px;
$max-width-ipad: 1024px;

// ipad pro
$min-width-ipad-pro: 768px;
$max-width-ipad-pro: 1024px;


// laptops & desktops viewport sizes
$min-width-laptop-and-desktop: 1280px;
$max-width-laptop-and-desktop: 1599px;

// larger screen devices
$min-width-larger-screens: 1600px;